:root {
  --primary: #2c3e4c;
  --primary-alt: #4e6b82;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #4e6b82;
  --light: #f1f5f9;
  --sidebar-width: 237px;
  --white: #ffffff;
}
header {
  line-height: 1.5;
  max-height: 100vh;
}
.app {
  width: 100vw;
}

.header {
  height: 54px;
  background-color: #4e6b82;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  column-gap: 20px;
  .toggle-collapse {
    display: flex;
    align-items: center;
  }
}

.main-layout {
  margin: 24px 12px;
  padding: 15px 12px;
  height: calc(100vh - 102px);
  background-color: white;
  border-radius: 4px;
  border-top: 4px solid #0492c2;
  overflow: auto;
  .overflow-layout {
    overflow: auto;
    height: 100%;
    margin-right: -12px;
    padding-right: 15px;
  }
}

.layout-active-sidebar {
  width: calc(100vw - 237px);
  transition: 0.2s ease-out;
  background-color: #e6e6e6;
}

.layout-inactive-sidebar {
  width: calc(100vw - 32px);
  transition: 0.2s ease-out;
  background-color: #e6e6e6;
}

.layout-without-sidebar {
  width: 100%;
  background: "white";
}

.logo {
  display: block;
  margin: 0 auto 32px;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 32px;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 16px;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 32px 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -16px;
    font-size: 16px;

    padding: 16px 0;
    margin-top: 16px;
  }
}
