.background-sidebar {
  background-image: linear-gradient(#4e6b82, #e6e6e6);
}

aside {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #2c3e4c;
  color: #4e6b82;
  z-index: 1;
  position: relative;
  width: calc(32px + 32px);
  overflow: hidden;
  height: 100vh;
  padding: 16px;
  transition: 0.2s ease-in-out;
  overflow: auto;
  h2 {
    color: #e6e6e6;
    padding: 10px 0 20px;
  }
  .flex-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
  }

  .flex {
    flex: 1 1 0%;
  }

  .logo {
    margin-bottom: 16px;

    img {
      width: 32px;
    }
  }

  .menu-toggle-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    position: relative;
    top: 0;
    transition: 0.2s ease-in-out;

    .menu-toggle {
      padding: 0px;
      transition: 0.2s ease-in-out;
      background-color: transparent;
      border: 0px;
      .material-icons {
        font-size: 32px;
        color: #4e6b82;
        transition: 0.2s ease-out;
      }

      &:hover {
        .material-icons {
          color: white;
          transform: translateX(8px);
        }
      }
    }
  }

  h3,
  .button .text {
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out;
  }

  h3 {
    color: #64748b;
    font-size: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .menu {
    margin: 0 -16px;

    .button {
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 50px;
      transition: 0.2s ease-in-out;
      margin: 4px 8px;
      border-radius: 8px;
      background-color: #1f303d;
      .material-icons {
        font-size: 32px;
        color: #4e6b82;
        transition: 0.2s ease-in-out;
        height: 20px;
        width: 20px;
      }
      .text {
        color: #4e6b82;
        white-space: nowrap;
        transition: 0.2s ease-in-out;
      }

      &:hover {
        background-color: #4e6b82;

        .material-icons,
        .text {
          color: #ffffff;
        }
      }

      &.router-link-exact-active {
        background-color: #4e6b82;
        .material-icons,
        .text {
          color: #ffffff;
        }
      }
    }
  }
  .button-active {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 50px;
    transition: 0.2s ease-in-out;
    margin: 4px 8px;
    border-radius: 8px;
    background-color: #4e6b82;
    .material-icons {
      font-size: 32px;
      color: #e6e6e6;
      transition: 0.2s ease-in-out;
      height: 20px;
      width: 20px;
    }
    .text {
      color: #e6e6e6;
      white-space: nowrap;
      transition: 0.2s ease-in-out;
    }

    &:hover {
      background-color: #4e6b82;

      .material-icons,
      .text {
        color: #e6e6e6;
      }
    }

    &.router-link-exact-active {
      background-color: #4e6b82;
      .material-icons,
      .text {
        color: #e6e6e6;
      }
    }
  }

  .footer {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    p {
      font-size: 14px;
      color: #64748b;
    }
  }

  &.is-expanded {
    width: 237px;

    .menu-toggle-wrap {
      top: -48px;

      .menu-toggle {
        transform: rotate(-180deg);
        background-color: transparent;
        border: 0px;
      }
    }

    h3,
    .button .text {
      opacity: 1;
    }

    .button {
      .material-icons {
        margin-right: 16px;
      }
    }
    .button-active {
      .material-icons {
        margin-right: 16px;
      }
      .text {
        color: #e6e6e6;
      }
    }

    .footer {
      opacity: 0;
    }
  }

  @media (max-width: 1024px) {
    position: absolute;
    z-index: 99;
  }
}
