button {
  height: 60px;
  color: #ffffff;
  font-weight: bold;
}
button:hover {
  color: #ffffff;
}
.button-change {
  background: linear-gradient(270deg, rgba(8, 73, 137, 0.99) 0%, #73c2fb 105.56%);
}
.button-back {
  background: linear-gradient(270deg, #837e7e 0%, #b9b9b9 105.56%);
}

.button-stop {
  background: linear-gradient(270deg, #c13a3a 0%, #ff9d9d 105.56%);
  color: #fff;
  width: 26%;
  border-radius: 5px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
}

.button-cancel {
  background: linear-gradient(270deg, #837e7e 0%, #b9b9b9 105.56%);
  color: #fff;
  width: 26%;
  border-radius: 5px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
}
.button-stop:hover {
  color: #fff;
}

.button-cancel:hover {
  color: #fff;
}
